<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        

        <!-- space then arguments -->
        <p>{{screamIt welcomeMessage}}</p>

        <!-- using partials -->
        {{> footer}}
    </body>
</html>